<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <header>
        <h1>Nombre de la marca</h1>
    </header>

    <main>
        <img src="imagenes/logo.jpg" alt="logo de la pagina que lleva al shop">
        <img src="imagenes/logo.jpg" alt="logo de la pagina que lleva lo ultimo">
        <img src="imagenes/logo.jpg" alt="logo de la pagina que lleva proximos lanzamientos">
    </main>
    <footer>
        <h4>instagram</h4>
        <h4>perfil</h4>
        <h4>cosas aburridas</h4>
    </footer>


</body>

</html>